@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --branco: #FFFFFF;
    --vermelho-botão: #8E2424;
    --cinza-logo: #3A404E;
    --cinza-texto: #667085;
    --azul-escuro: #101828;
    --fundo-banner: #FDF8F8;
    --borda-vagas: #EAECF0;
    --fonte-principal: "Inter", sans-serif; 
}

body{
    font-family: var(--fonte-principal);
    font-weight: 500;
    line-height: 24px;
    font-size: 1rem; 
}

.cabeçalho{
    display: flex;
    justify-content: space-between;    
    padding: 18px 60px;   
}

.logo{
    display: flex;       
    font-size: 1.125rem;   
    color: var(--cinza-logo);
    align-items: center;
    gap: 5px;   
}

.opções{
    display: flex;
    align-items: center;    
}

.nav__link{
    color: var(--cinza-texto);
    text-decoration: none;     
    padding: 30px; 
    font-size: 1.5rem;      
}

.nav__link:hover{
    color: var(--vermelho-botão);
}

.botões{
    display: flex;
    align-items: center;
    gap: 40px;    
}

.entrar{
    color: var(--cinza-texto);
    text-decoration: none;
}

.entrar:hover{
    color: var(--vermelho-botão);
}

.cadastrar{
    background-color: var(--vermelho-botão);
    color: var(--branco);
    border-radius: 8px;
    border: 1px solid var(--vermelho-botão);
    padding: 10px 18px 10px 18px;
    gap: 8px;
}

.banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;   
    padding: 70px 0; 
    gap: 24px;
    width: 100%;
    min-height: 407px; 
}

.banner__destaque {
    color: var(--vermelho-botão);
    font-weight: 600;
}

.banner__titulo {
    font-weight: 600;
    font-size: 3rem; 
    color: var(--azul-escuro);
    line-height: 60px;
}

.banner__texto {
    font-weight: 400; 
    font-size: 1.5rem;
    line-height: 30px;
    color: var(--cinza-texto);
}

.metricas{
    display: flex;
    width: 100%;
    height: 288px;
    gap: 64px;          
    margin-bottom: 20px;    
    align-items: center;
  
}
.metricas__lista{
    display: flex;
    list-style-type: none;     
    text-align: center;  
    padding: 0px 32px 0px 32px;  
}

.metricas__titulo{
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 72px;
    color: var(--vermelho-botão);
}

.metricas__descrição{
    font-size: 1.125rem; ;
    line-height: 28px;
    color:var(--azul-escuro);
}

.metricas__texto{
    font-weight: 400;
    color: var(--cinza-texto);
}

.talentos{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 138px;
    gap: 48px;
    margin-top: 40px;
    padding: 96px 0px 96px 0px;
}

.talentos__destaque {
    font-size: 1.5rem;
    line-height: 20px;
    color: var(--vermelho-botão);
    background-color: #eae6e6;
    border-radius: 16px;
    padding: 4px 12px;
    width: fit-content; /* Adicione esta linha */
    margin: 0 auto; /* Centraliza o span */ 

}
.talentos__titulo{
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
    color: var(--azul-escuro);
}

.talentos__texto{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;
    color: var(--cinza-texto);
}

.talentos__imagem{
    position: relative;
    width: 1216px;
    height: 400px;
    margin: auto;
    
}
.vagas {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 50%;
    min-height: 358px;
    gap: 32px;
}

.vagas__lista {
    list-style-type: none;
    padding-left: 0;
    margin-left: 20px;
}

.vagas__item {
    
    margin-bottom: 20px;
    border-radius: 16px;
    border: 1px solid #EAECF0;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve para destaque */
}

.vagas__detalhes {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.vagas__setor {
    font-size: 1.25rem; 
    line-height: 30px;
    color: var(--azul-escuro);
}

.vagas__descrição {
    font-size: 1.125rem;
    line-height: 28px;
    color: var(--azul-escuro);
    padding-bottom: 15px;
}

.vagas__texto,
.vagas__salario {
    font-size: 1rem;
    color: var(--cinza-texto);
}

.informações{
    display: flex;
    background-color: var(--fundo-banner);
    width: 90%;
    height: 404px;
    margin: auto;
    border-radius: 16px;
    gap: 32px;
    
}
.banner__imagem{
    position: relative;
    width: 56px;
    height: 56px;
    margin: auto;
    margin-bottom: -10px;
}

.nome__desenvolvedora{
    margin-bottom: -15px;
}

.rodape{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;   
    padding: 70px 0; 
    gap: 24px;
    width: 100%;
    min-height: 250px; 
    background-color: #F9FAFB;
    margin-top: 50px;
}
.rodape__titulo{
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
    color: var(--azul-escuro);
}

.rodape__texto{
    font-weight: 400;
    font-size: 1.25rem; 
    line-height: 30px;
    color: var(--cinza-texto);
}

.rodape__email{
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: var(--cinza-texto);
    margin-right: 10px;
}

.rodape__email::placeholder{
    padding: 6px;
}

.rodape__direitos{
    font-weight: 400;
    font-size:1rem;
    line-height: 24px;
    color: #98A2B3;
}

.botões__mobile{
    display: none;
}

@media screen and (max-width: 768px) {
    /* Estilos específicos para telas com largura de 768px ou menos */

.botões{
    display: none;
}

.cabeçalho__mobile{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}

.botões__mobile{
    display: block;
}
    
.cabeçalho{    
    flex-direction: column;      
    padding: 5px 5px;  
}

.logo{      
    font-size: 1rem;  
    justify-content: center;
    margin-left: 5px;   
}

.nav__link{
    padding: 10px;    
    font-size: 0.8rem;     
}
.botões{  
    gap: 4px;    
}

.entrar{   
    font-size: 0.8rem;
}

.cadastrar{
    font-size: 0.8rem;   
    padding: 6px; 
}

.opções{
    justify-content: space-evenly;
    background-color:#ced2d91a;
    border-radius:2px ;
    margin-top: 5px;
}
}